* {
	margin: 0;
	padding: 0;	
}

.container {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: space-between;
	background-color: #425252;
}

.container-cell {
	width: 50%;
	height: 80%;
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 25% 25% 25% 25%;
	background-color: #891252;
}

.container-piece {
	width: 50%;
	height: 80%;
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 25% 25% 25% 25%;
	background-color: #5214FF;
}

#dialog {
	padding: 2em;
	position: absolute;
	width: 50%;
	text-align: center;
	background-color: white;
	display: none;
}

#dialog > #imgDialog {
	border-radius: 50%;
	border: 2px solid black;
	width: 100px;
}

#dialog > button {
	padding: 3px;
	background-color: green;
}